<!--<div id="insertIngredient">
  <label for="name-ingredient">Nom de l'ingrédient</label>
  <select ng-model="recipes.ingredient" id="selectIngredients">
    <option value="new">Nouveau</option>
    
    <option ng-controller="OneIngredient" ng-repeat="url in ingredients" value="{{ingredient.name}}">{{ingredient.name}}</option>
  </select><br/>

  <label for="name-qte">Quantité</label>
  <input class="form-text" id="name-qte" ng-model="recipes.qte" type="number" placeholder="Entrez la quantité..."/>
</div>-->
<section class="widget chart-widget">
            <i ng-click="clone()" class="widget-clone-handle">dsdsqdqs</i>
            <div class="body no-margin">
                <div ng-transclude></div>
            </div>
        </section>