<datalist id="recipes" ng-controller="allRecipesCtrl">
  <option ng-controller="getOneRecipe" data-text="{{recipe.name}}" data-id="{{recipe.id}}" ng-repeat="url in recipes">{{recipe.name}}</option>  
</datalist>

<form name="menusWeek" action="" ng-controller="menuCtrl" ng-submit="addMenu()">
  <div class="form-group">
    <label for="">Nom du menu</label>
    <input required class="form-text" type="text" ng-model="menu.name"/>
  </div>
  <table class="menu" style="table-layout: fixed; overflow: hidden; width: 100%;">
    <thead>
      <tr>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="addmenulundi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.lundi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenumardi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.mardi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenumercredi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.mercredi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenujeudi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.jeudi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenuvendredi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.vendredi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenusamedi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.samedi.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenudimanche">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.dimanche.midi" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
      </tr>
      <tr>
        <td class="addmenulundi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.lundi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenumardi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.mardi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenumercredi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.mercredi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenujeudi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.jeudi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenuvendredi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.vendredi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenusamedi">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.samedi.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
        <td class="addmenudimanche">
          <label for="">Choisisez votre recette :</label><br/>
          <input class="form-text" ng-model="menu.dimanche.soir" list="recipes" type="text"/>
          <div>ou</div>
          <a class="btn classic-btn" href="#/addrecipes">Ajoutez une nouvel recette</a>
        </td>
      </tr>
    </tbody>
  </table>
  <button ng-disabled="!menusWeek.$valid" class="btn classic-btn" type="submit" >Je valide mon menu</button>
</form>