<ul class="inner">
  <li ng-repeat="menu in menus">
    <h2 class="infomenu" data-name="{{menu.name}}" data-id="{{menu.id}}"><a href="#/upmenu/{{menu.id}}">{{menu.name}}</a></h2>
    <table>
      <thead>
        <tr>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
          <th>Dimanche</th>
        </tr>
      </thead>
      <tbody>
        <tr class="menus">
          <td data-id="{{menu.lundi[0].id}}">{{menu.lundi[0].name}}</td>
          <td data-id="{{menu.mardi[0].id}}">{{menu.mardi[0].name}}</td>
          <td data-id="{{menu.mercredi[0].id}}">{{menu.mercredi[0].name}}</td>
          <td data-id="{{menu.jeudi[0].id}}">{{menu.jeudi[0].name}}</td>
          <td data-id="{{menu.vendredi[0].id}}">{{menu.vendredi[0].name}}</td>
          <td data-id="{{menu.samedi[0].id}}">{{menu.samedi[0].name}}</td>
          <td data-id="{{menu.dimanche[0].id}}">{{menu.dimanche[0].name}}</td>
        </tr>
        <tr class="menus">
          <td data-id="{{menu.lundi[1].id}}">{{menu.lundi[1].name}}</td>
          <td data-id="{{menu.mardi[1].id}}">{{menu.mardi[1].name}}</td>
          <td data-id="{{menu.mercredi[1].id}}">{{menu.mercredi[1].name}}</td>
          <td data-id="{{menu.jeudi[1].id}}">{{menu.jeudi[1].name}}</td>
          <td data-id="{{menu.vendredi[1].id}}">{{menu.vendredi[1].name}}</td>
          <td data-id="{{menu.samedi[1].id}}">{{menu.samedi[1].name}}</td>
          <td data-id="{{menu.dimanche[1].id}}">{{menu.dimanche[1].name}}</td>
        </tr>
      </tbody>
    </table>
    <div class="btn important-btn" ng-click="supMenu(menu.id)">Supprimer le menu</div>  
    <button class="btn classic-btn" ng-click="getListeCourse()">Créer la liste de course</button>  
    <a ng-if="menu.id_listshop" href="#/shoplist/{{menu.id_listshop}}" class="btn">Liste de course</a>
  </li>
  
</ul>